In [74]:
import pandas as pd
import numpy as np

In [75]:
car=pd.read_csv('quikr_car(updated).csv')

In [76]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [77]:
car.shape

(892, 6)

In [78]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [79]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [80]:
car['year'].unique

<bound method Series.unique of 0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object>

In [81]:
car['Price'].unique

<bound method Series.unique of 0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
887         3,10,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 892, dtype: object>

In [82]:
car = car.dropna(subset=['year'])

In [83]:
car=car[car['year'].str.isnumeric()]

In [84]:
car['year']=car['year'].astype(int)

In [85]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [86]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [87]:
car['Price'].isna().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
886    False
888    False
889    False
890    False
891    False
Name: Price, Length: 842, dtype: bool>

In [88]:
car.reset_index()

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...,...
837,886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
838,888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
839,889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
840,890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
841,891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [89]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [90]:
car=car[car['Price']!='Ask For Price']

In [91]:
car['Price']=car['Price'].str.replace(',' ,'').astype(int)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11128\2583487788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',' ,'').astype(int)

In [92]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [93]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

C:\Users\DELL\AppData\Local\Temp\ipykernel_11128\995198746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [94]:
car=car[car['kms_driven'].str.isnumeric()]

In [95]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [96]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [97]:
car['kms_driven']=car['kms_driven'].astype(int)

In [98]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [99]:
car=car.dropna(subset=['fuel_type'])

In [100]:
car=car.reset_index()

In [101]:
car

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [102]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       816 non-null    int64
 1   name        816 non-null    object
 2   company     816 non-null    object
 3   year        816 non-null    int32
 4   Price       816 non-null    int32
 5   kms_driven  816 non-null    int32
 6   fuel_type   816 non-null    object
dtypes: int32(3), int64(1), object(3)
memory usage: 35.2+ KB

In [103]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [104]:
car

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [105]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       816 non-null    int64
 1   name        816 non-null    object
 2   company     816 non-null    object
 3   year        816 non-null    int32
 4   Price       816 non-null    int32
 5   kms_driven  816 non-null    int32
 6   fuel_type   816 non-null    object
dtypes: int32(3), int64(1), object(3)
memory usage: 35.2+ KB

In [106]:
car=car.reset_index(drop=True)

In [107]:
car

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [108]:
car.describe()

            index         year         Price     kms_driven
count  816.000000   816.000000  8.160000e+02     816.000000
mean   431.637255  2012.444853  4.117176e+05   46275.531863
std    254.197374     4.002992  4.751844e+05   34297.428044
min      0.000000  1995.000000  3.000000e+04       0.000000
25%    212.750000  2010.000000  1.750000e+05   27000.000000
50%    427.500000  2013.000000  2.999990e+05   41000.000000
75%    652.250000  2015.000000  4.912500e+05   56818.500000
max    889.000000  2019.000000  8.500003e+06  400000.000000

In [109]:
car=car[car['Price']<6e6]

In [110]:
car

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [111]:
car.describe()

            index         year         Price     kms_driven
count  815.000000   815.000000  8.150000e+02     815.000000
mean   431.477301  2012.442945  4.017933e+05   46277.096933
std    254.312373     4.005079  3.815888e+05   34318.459638
min      0.000000  1995.000000  3.000000e+04       0.000000
25%    212.500000  2010.000000  1.750000e+05   27000.000000
50%    427.000000  2013.000000  2.999990e+05   41000.000000
75%    652.500000  2015.000000  4.900000e+05   56879.000000
max    889.000000  2019.000000  3.100000e+06  400000.000000

In [112]:
X= car.drop(columns='Price')

In [113]:
X=car.drop(columns='index')

In [114]:
car.to_csv('Cleaned_Car.csv')

In [115]:
X

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [116]:
y=car['Price']

In [117]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 815, dtype: int32

In [118]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [119]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [120]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [121]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']))

In [122]:
lr=LinearRegression()

In [123]:
pipe=make_pipeline(column_trans,lr)

In [124]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [125]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 815, dtype: int32

In [126]:
y_pred=pipe.predict(X_test)

In [127]:
y_pred

array([ 202124.94294314,  538969.92194525,  232777.59406099,
        230000.61610102,  188333.56614725,  514672.22354744,
        188333.56614725,   99285.2090198 ,  202124.94294314,
        218553.95924461,  137500.84213498,  257466.10036159,
        260206.56565172,  232777.59406099,  202124.94294314,
        379670.24710748,  880001.56779853,  165001.18300465,
        515078.94279049,  389772.05924303,  165001.18300465,
        445657.75725964,  412050.52464427,  253746.46754493,
        257466.10036159,  292498.71786525,  186173.68170782,
       1525003.36443432,   75002.54929299,  243474.59259873,
        406998.28693276,  537498.30711126,  289846.37789839,
       1525003.36443432,  389998.350914  ,  833330.00173071,
         47620.82269951,  225000.9571885 ,  265776.18652036,
         55003.0883513 ,  186173.68170782,  445657.75725964,
        358623.83897486,  858329.8767672 ,  664501.73972547,
        212474.02978708,  537498.30711126,  445657.75725964,
        504710.88465792,  289846.37789839,  202124.94294314,
        463967.73347088,  361000.64047539,  358623.83897486,
        693001.42076184,  855463.61158243,  289846.37789839,
        289239.72640133,  212474.02978708,  253701.61864802,
        887843.88911922,  358623.83897486,  887843.88911922,
        289239.72640133,  292498.71786525,  406998.28693276,
        510368.60437561,  600002.89170487,  253701.61864802,
        434997.90319475,  321620.00393812,  252501.64547625,
        225000.9571885 ,  358623.83897486,  257466.10036159,
         60001.57818291,  186173.68170782,   95003.09662921,
        593439.66476948,   84999.0639296 ,   95003.09662921,
        567777.20336584,  289846.37789839,  504710.88465792,
        265776.18652036,  340411.42811256,  892380.46888391,
        181784.09312726,  130000.18633608, 1891109.97007842,
        257466.10036159,  202124.94294314,  259205.59384264,
        519998.53046992,  289239.72640133,  386499.75996379,
        180093.75225028,  102555.79572108,  202124.94294314,
       1047497.86162543,  699002.31128247,  149175.5251613 ,
        373332.24338587,  186173.68170782,  265776.18652036,
        567777.20336584,  291585.87137944,  481875.86277342,
        439822.93262059,  571350.19948204,  102555.79572108,
        202124.94294314,  181784.09312726,  165001.18300465,
        664501.73972547,  289846.37789839,  253701.61864802,
       1047497.86162543,  202124.94294314,  284341.42022433,
        202124.94294314,  532903.70877163,  307383.1094622 ,
        275002.82444692,  212474.02978708,  463967.73347088,
        380001.31763652,  358623.83897486,  257466.10036159,
        399800.87976387,  510024.02799723,  296570.58386726,
        292499.66374603,  289846.37789839,  419999.77891727,
        858329.8767672 ,  260206.56565172,  519998.53046992,
        158000.41368424,  181784.09312726,  434997.90319475,
        496188.07269515,  102555.79572108,  430000.25589882,
        257466.10036159,  212474.02978708,  296570.58386726,
        445657.75725964,  357391.78170624,  706996.45132705,
         44998.16009574,  102555.79572108,  289846.37789839,
        202124.94294314,  391004.11651166,  199999.06599848,
        331025.44394056,  548800.36154439,  132206.38610946,
        386499.75996379, 1891109.97007842,  445657.75725964,
        328950.86140405])

In [128]:
r2_score(y_test,y_pred)

0.7121290891811256

In [129]:
scores=[]
for i in range (1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [130]:
np.argmax(scores)

124

In [131]:
scores[np.argmax(scores)]

0.8480692189829477

In [132]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8480692189829477

In [133]:
import pickle
pickle.dump(pipe,open('LinearRegressionmodel.pkl','wb'))

In [137]:
df = pd.DataFrame([['Mini Cooper S', 'Mini', 2013, 13000, 'Petrol']], 
                  columns=['name', 'company', 'year', 'kms_driven', 'fuel_type'])
pipe.predict(df)

array([1891110.78188313])